/* Root variables for easy color changes */
:root {
  --text-color: black;
  --background-color: #f6f4f4;
  --input-background-color: white;
  --button-background-color: #4caf50;
  --button-hover-color: #45a049;
}

/* General body styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: auto;
}

h1{
  text-decoration: none;
  text-decoration-line: none;
  

}

/* Styles for the navigation bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(19, 124, 194, 0.884);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 9px;
  z-index: 10;
  color: rgb(7, 7, 7);
  flex-wrap: wrap;
}
navlogo {
  padding: 10px;
  margin: 10px;
  position: fixed;
  top: 10;
  height: 10px;
  display: flex;
}
/*drop menu stule*/
.sup-menu-warp{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
}
.sup-menu{
  background-color:  none;
  padding: 20px;
  margin: 1px;
}
.menu{
  display: flex;
  align-items: center;
}
.menu h3{
  font-size: 500;
}
.menu img{
  width: 20px;
  margin-right: 15px;
}
.sup-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 12px 0;
}
.sub-menu-link p{
  width: 100%;
}


/* Media Query for Responsive Design */
@media screen and (max-width: 700px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("img/Picture1-removebg-preview.png");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
  
}

/* Styles for the logo in the navigation bar */
.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1.2rem;
  font-weight: 300;
  color: rgb(249, 247, 247);
  text-decoration: none;
  
}

/* Styles for the attendance form */
#attendance-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  position:center ;
}

/* Styles for labels */
label {
  display: block;
  margin-bottom: 8px;
}

/* Styles for input fields and select boxes */
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: var(--input-background-color);
  color: var(--text-color);
}

/* Styles for buttons */
button {
  background-color: var(--button-background-color);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Styles for button hover effect */
button:hover {
  background-color: var(--button-hover-color);
}


#quote {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(45deg, #fc036b, #fff, #41031d);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

  /* Add your CSS styles here */
  table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

/* Styles for the password container */
.password-container {
  position: relative;
  width: 100%;
}

/* Styles for the password input field */
.password-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Styles for the eye icon in the password field */
.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Styles for the main container */
.container {
  padding-top: 50px;
  margin: auto;
  width: 30%;

}
/* drop down */
.dropdown {
  width: 100%;
  min-height: 100vh;
  background: #eceaff;
  color: #525252;
  position: relative;
  display: flexbox;
  background-color: white;
}

.dots{
width: 120px;
}