<!-- teacher.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Teacher Dashboard</title>
</head>
<body id="body">
    <!-- Navigation Bar -->
    <span class="navbar" style="height: 70px">
        <span class="navlogo">
            <a href="#home" style="display: flex; align-items: center">
                <h1 class="logo">Smart Attendance</h1>
            </a>
        </span>
    </span>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/teacher">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/logout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <!-- Attendance List -->
    <div class="attendance-list">
        <h2>Attendance List</h2>
        <form id="attendanceForm">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Attendance</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(function(student) { %>
                        <tr>
                            <td><%= student.StudentID%></td>
                            <td><%= student.Name %></td>
                            <td>
                                <input type="checkbox" name="attendance[]" value="<%= student.id %>" data-student-id="<%= student.id %>" <% if(student.present) { %> checked <% } %>>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <button type="button" onclick="submitAttendance()">Submit Attendance</button>
        </form>
    </div>

    <!-- Scripts -->
    <script src="script2.js"></script>
    
</body>
</html>
